.topic {
	position: relative;
	float: left;
	display: block;
	width: 440px;
	height: 50px;
	border: 1px green solid;
	margin: 5px;
}
 
.question {
	position: relative;
	float: left;
	margin-right: 5px;
	width: 400px;
}
.questiontext {
	width: 400px;
	margin: 0px;
	padding: 0px;
}


.topic + .answer {
  line-height: 0%;
  color: gray;
  transform: rotateX(90deg);
  transition: all 0.3s linear;
  margin: 5px;
}

.topic:active + .answer {
  transform: rotateX(0);
  line-height: 100%;
  line-height: auto;
}


.check {
	position: relative;
	float: right;
	margin-top: 5px;
	margin-right: 10px;
	outline: none;
	width: 16px;
	height: 16px;
    appearance: none;
    -webkit-appearance: none;
    background-image: url(images/down.png);
	background-repeat: no-repeat;
	background-position: center;
	background-clip: cover;

		
}

.check:checked {
	transform: rotate(-180deg);
}

p {	
	color: green;
	opacity: 0;
	transition: all 0.1s linear;
	background-color: lightgrey;
	position: relative;
	left: 50%;
	transform:translate(-50%);
}

.check:checked + label + p {

  opacity: 1;
  line-height: 100%;
  line-height: auto;
  z-index: 1000;
}

.answer {
	position: relative;
	border: 1px green solid;
	border-top: none;
	margin-bottom: 5px;

}

.topic {
	position: relative;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	clear: both;
	margin-bottom: 20px;
}

h3 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: center;
	height: 100%;
}